main{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#monster-action-menu {
    flex: 1;
}

#flex-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 60vw;
    height:70vh;
    border: 2px solid black ;
    border-radius: 5%;
    padding: 30px;
    flex:5;
}
#conjure-header {
    text-align: center;
}
#conjure-menu {
    flex:1;
    width:12vw;
}

.dice-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stat-detail {
    font-size: 15px;
}

.card-deck {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow-y: auto;
}

.card-deck::after{
    content: '';
    width: 100%;
}
.card {
    min-width: 150px;
    max-width: 150px;
    min-height: 240px;
    max-height: 270px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 5%;
    border-color: #427131;
}

.card:nth-child(n+5) {
    order: 1;
}

#enemy-deck {
    display: flex;
    flex-direction: column;
}
#target-ac {
    width: 100px;
    height: 100px;
    font-size: 40px;
    border-radius: 8px;
    text-align: center;
}