main{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#monster-action-menu {
    flex: 1;
}

#flex-grid {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    width: 60vw;
    height:60vh;
    border: 2px solid black ;
    border-radius: 5%;
    padding: 30px;
    flex:5;
}
#conjure-header {
    text-align: center;
}
#conjure-menu {
    flex:1;
    width:12vw;
}

.dice-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stat-detail {
    font-size: 15px;
}
.card {
    max-width: 200px;
    height: 100%;
    border-style: solid;
    border-radius: 5%;
    border-color: #427131;
}